In [2]:
import numpy as np
np.random.seed(12345) #무작위로 난수를 만드는 메서드
np.set_printoptions(precision=4, suppress=True)

In [3]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] #리스트 표기법
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [4]:
data = []
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[0.2817461528302025, 0.7690225676118387, 1.2464347363862822, 1.0071893575830049, -1.2962211091122635, 0.274991633432124, 0.22891287893531592]

In [5]:
data = np.array([0.12345678])
print(data)
print(type(data))

[0.1235]
<class 'numpy.ndarray'>

In [6]:
## 변수와 참조

In [7]:
a = [1, 2, 3]

In [8]:
b = a
print(b)

[1, 2, 3]

In [10]:
a.append(4)
b
print(a)
print(b)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [12]:
def append_element(some_list, element): # 위치 인자
    some_list.append(element)

In [13]:
## 사용자 정의함수

In [14]:
data = [1, 2, 3] # global(전역)변수
append_element(data, 4)
data

[1, 2, 3, 4]

In [16]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

In [17]:
"5" + 5 # 자동 형번환 불가능

TypeError: can only concatenate str (not "int") to str

In [18]:
# 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
print(a / b)

a is <class 'float'>, b is <class 'int'>
2.25

# instance() : 객체의 자료타입 확인

In [19]:
a = 5
isinstance(a, int)

True

In [20]:
a = 5
b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

In [21]:
a = "foo"

In [22]:
getattr(a, "split")

# interator 객체 확인 : inter()

In [23]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [24]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [25]:
5 - 7
12 + 21.5
5 <= 2

False

# # is & is not
* is : 두 객체간 동일 확인
* is not : 상이한 객체 확인

In [26]:
a = [1, 2, 3]
b = a
c = list(a) # 리스트 형변환 : 새로운

print(a is b)
print(a is not c)

True
True

In [27]:
a == c

True

# # None  : null 객체

In [28]:
a = None
a is None

True

# # list 자료형 : 인덱싱 & 슬라이싱
* 수정, 삭제, 추가기능

In [ ]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) # 데이터 수정
a_list

# # tuple 자료형 : immutable 자료형

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

In [ ]:
ival = 17239871
ival ** 6

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

In [ ]:
3 // 2

# # 문자열 : immutable
* indexing : 변수명[위치]
* slicing : 변수명[start:end:sep]

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""
print(type(c))

In [ ]:
c.count("\n") # 반복횟수

In [ ]:
a = "this is a string"
a[10] # 조화가능
a[10] = "f"

In [ ]:
b = a.replace("string", "longer string") # 문자열 수정 : replace() -> 새로운 문자열 생성
b

In [ ]:
a

In [ ]:
a = 5.6
s = str(a)
print(s)

In [ ]:
s = "python"
list(s) #['p','y','t','o','n']
s[:3] #slicing s[0:3:1]

In [ ]:
s = "12\\34"
print(s)

In [ ]:
s = r"this\has\no\special\characters"
s

## # 문자열 연산 : +,*

In [ ]:
a = "this is the first half "
b = "and this is the second half"
a + b

In [ ]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(4.256, "python", 100)

In [ ]:
template.format(88.46, "Argentine Pesos", 1)

In [ ]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
print(result)
f"{amount} {currency} is worth US${amount / rate}"

In [ ]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [ ]:
val = "español"
val

In [ ]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode("utf-8")

In [ ]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [ ]:
True and True
False or True

In [ ]:
int(False)
int(True)

In [ ]:
a = True
b = False
not a
not b

In [ ]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [ ]:
a = None
a is None
b = 5
b is not None

# # 시간, 날짜 데이터 타입 : datetime

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt)
print(dt.day)
print(dt.minute)

In [ ]:
dt.date()
dt.time()

In [ ]:
dt.strftime("%Y-%m-%d %H:%M")

In [ ]:
datetime.strptime("20091031", "%Y%m%d")

In [ ]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

# # Timedelta : 
* 두 날짜 또는 시간 간의 차이, 즉 기간을 표현함
* 두 개의 datetime 컬럼(즉, 출발시간 - 도착시간) 연산시, Timedelta 객체로 자동 변환

In [ ]:
dt

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [ ]:
4 > 3 > 2 > 1

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [ ]:
range(10)
list(range(10))

In [ ]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

In [ ]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

** 문제2 : 다음 텍스트(text) 안에 특정 문자열 ("let")의 존재 여부 검사하기
* text = "Don't them in, don't let them see"

In [ ]:
# 키워드 in 사용
text = "Don't them in, don't let them see"
if "let" in text:
    print("found")
else:
    print("not found")